@theme {
    --products-carousel-card: 100%;
    --spacing-860px: calc(860 / var(--base-font-size) * 1rem);
}

@layer app {
    .products-carousel-card {
        max-height: var(--products-carousel-card);
    }
}
