openapi: 3.1.0
info:
  title: UkrPoshta Upstream Integration
  version: 1.0.0
  description: |
    Integration contract between the UkrPoshta module and the upstream Ukr Poshta address-classifier service.
    This document describes the external server, request parameters, and the data shape the module expects back.

    The module prefers city-level lookup when available and falls back to district-level lookup for post office synchronization.
servers:
  - url: https://www.ukrposhta.ua/address-classifier-ws/
    description: Ukr Poshta upstream address-classifier service
tags:
  - name: AddressClassifier
    description: Directory sync endpoints used by the module
paths:
  /get_regions_by_region_ua:
    get:
      tags: [AddressClassifier]
      summary: Fetch regions
      description: |
        Used by the module during region synchronization.
        The module sends a bearer token and expects a JSON payload with entries inside Entries.Entry or data.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer token from the global UkrPoshta API key.
      responses:
        '200':
          description: Upstream response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
  /get_districts_by_region_id_and_district_ua:
    get:
      tags: [AddressClassifier]
      summary: Fetch districts for a region
      description: |
        Used by the module during district synchronization.
        The module passes `region_id` as a query parameter.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer token from the global UkrPoshta API key.
        - in: query
          name: region_id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Upstream response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictsResponse'
  /get_city_by_region_id_and_district_id_and_city_ua:
    get:
      tags: [AddressClassifier]
      summary: Fetch cities for a district
      description: |
        Used by the module during city synchronization.
        The module passes `district_id` as a query parameter.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer token from the global UkrPoshta API key.
        - in: query
          name: district_id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Upstream response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitiesResponse'
  /get_postoffices_by_postindex:
    get:
      tags: [AddressClassifier]
      summary: Fetch post offices for a district
      description: |
        Used by the module during post office synchronization.
        The module passes `pdDistrictId` as a query parameter and later keeps only unlocked offices in the local dataset.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer token from the global UkrPoshta API key.
        - in: query
          name: pdDistrictId
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Upstream response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOfficesResponse'
components:
  schemas:
    UpstreamResponseBase:
      type: object
      additionalProperties: true
      properties:
        Entries:
          type: object
          additionalProperties: true
          properties:
            Entry:
              type: array
              items:
                type: object
                additionalProperties: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        errors:
          type: array
          items:
            type: string
        error:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string
        warning:
          type: array
          items:
            type: string
    RegionsResponse:
      allOf:
        - $ref: '#/components/schemas/UpstreamResponseBase'
        - type: object
          properties:
            Entries:
              type: object
              properties:
                Entry:
                  type: array
                  items:
                    $ref: '#/components/schemas/RegionItem'
    DistrictsResponse:
      allOf:
        - $ref: '#/components/schemas/UpstreamResponseBase'
        - type: object
          properties:
            Entries:
              type: object
              properties:
                Entry:
                  type: array
                  items:
                    $ref: '#/components/schemas/DistrictItem'
    CitiesResponse:
      allOf:
        - $ref: '#/components/schemas/UpstreamResponseBase'
        - type: object
          properties:
            Entries:
              type: object
              properties:
                Entry:
                  type: array
                  items:
                    $ref: '#/components/schemas/CityItem'
    PostOfficesResponse:
      allOf:
        - $ref: '#/components/schemas/UpstreamResponseBase'
        - type: object
          properties:
            Entries:
              type: object
              properties:
                Entry:
                  type: array
                  items:
                    $ref: '#/components/schemas/PostOfficeItem'
    RegionItem:
      type: object
      additionalProperties: true
      properties:
        REGION_ID:
          type: integer
        region_id:
          type: integer
        REGION_UA:
          type: string
        region_ua:
          type: string
        NAME:
          type: string
        name:
          type: string
    DistrictItem:
      type: object
      additionalProperties: true
      properties:
        DISTRICT_ID:
          type: integer
        district_id:
          type: integer
        REGION_UA:
          type: string
        region_ua:
          type: string
        DISTRICT_UA:
          type: string
        district_ua:
          type: string
    CityItem:
      type: object
      additionalProperties: true
      properties:
        CITY_ID:
          type: integer
        city_id:
          type: integer
        REGION_ID:
          type: integer
        region_id:
          type: integer
        REGION_UA:
          type: string
        region_ua:
          type: string
        DISTRICT_UA:
          type: string
        district_ua:
          type: string
        CITY_UA:
          type: string
        city_ua:
          type: string
        LATTITUDE:
          type: string
        LATITUDE:
          type: string
        latitude:
          type: string
        LONGITUDE:
          type: string
        longitude:
          type: string
    PostOfficeItem:
      type: object
      additionalProperties: true
      properties:
        POSTCODE:
          type:
            - integer
            - string
        postcode:
          type:
            - integer
            - string
        PDCITY_ID:
          type:
            - integer
            - string
            - 'null'
        pdcity_id:
          type:
            - integer
            - 'null'
        POREGION_ID:
          type:
            - integer
            - string
            - 'null'
        poregion_id:
          type:
            - integer
            - 'null'
        DISTRICT_ID:
          type:
            - integer
            - string
            - 'null'
        district_id:
          type:
            - integer
            - 'null'
        PDCITY_UA:
          type:
            - string
            - 'null'
        pdcity_ua:
          type:
            - string
            - 'null'
        CITY_UA:
          type:
            - string
            - 'null'
        city_ua:
          type:
            - string
            - 'null'
        REGION_UA:
          type:
            - string
            - 'null'
        region_ua:
          type:
            - string
            - 'null'
        DISTRICT_UA:
          type:
            - string
            - 'null'
        district_ua:
          type:
            - string
            - 'null'
        ADDRESS:
          type:
            - string
            - 'null'
        address:
          type:
            - string
            - 'null'
        POSTREET_ID:
          type:
            - string
            - 'null'
        postreet_id:
          type:
            - string
            - 'null'
        LOCK_CODE:
          type:
            - integer
            - string
            - 'null'
        lock_code:
          type:
            - integer
            - 'null'
        PDCITYTYPE_UA:
          type:
            - string
            - 'null'
        pdcitytype_ua:
          type:
            - string
            - 'null'
        description:
          type: string
        latitude:
          type:
            - string
            - 'null'
        longitude:
          type:
            - string
            - 'null'
