@layer theme, base, app, utilities, components;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "flyonui/variants.css";

@plugin "../../../../node_modules/flyonui/index.js";
@plugin "../../../../node_modules/flyonui/theme/index.js" {
    name: "black";
    default: true;
    color-scheme: black;

    --color-base-100: rgb(12, 18, 12);
    --color-base-200: rgb(9, 9, 11);
    --color-base-300: rgb(9, 9, 9);
    --color-base-content: rgb(242, 242, 242);
    --color-primary: rgb(96, 93, 255);
    --color-primary-content: rgb(253, 249, 232);
    --color-secondary: rgb(0, 150, 137);
    --color-secondary-content: rgb(239, 252, 249);
    --color-accent: rgb(60, 61, 252);
    --color-accent-content: rgb(255, 255, 255);
    --color-neutral: rgb(248, 248, 248);
    --color-neutral-content: rgb(49, 65, 87);
    --color-info: rgb(0, 130, 206);
    --color-info-content: rgb(237, 247, 253);
    --color-success: rgb(92, 163, 0);
    --color-success-content: rgb(245, 252, 229);
    --color-warning: rgb(185, 75, 0);
    --color-warning-content: rgb(252, 250, 230);
    --color-error: rgb(248, 40, 52);
    --color-error-content: rgb(254, 242, 242);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}
@source "../../../../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";

@source '../../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../../../storage/framework/views/*.php';
@source '../../../views/catalog/**/*.blade.php';
@source '../../../../Modules/**/*.blade.php';
@source '../../../../Modules/**/*.ts';
@source '../ts/**/*.ts';

@source "./_source.txt";

@layer theme {
    :root {
        --base-font-size: 16;

        --max-viewport-width: 1920;
        --max-viewport-width-rem: calc(1920 / var(--base-font-size) * 1rem);

        --container-padding: calc(16 / var(--base-font-size) * 1rem);

        --site-header-height: calc(76 / var(--base-font-size) * 1rem);
        --default-transition-duration: 300ms;

        /* 48rem - 768px */
        @media (width >= 48rem) {
            --container-padding: calc(32 / var(--base-font-size) * 1rem);
            --site-header-height: calc(88 / var(--base-font-size) * 1rem);
        }

        /* 64rem - 1024px */
        @media (width >= 64rem) {
            --container-padding: calc(60 / var(--base-font-size) * 1rem);
            --site-header-height: calc(96 / var(--base-font-size) * 1rem);
        }

        /* 96rem - 1920px */
        @media (width >= 120rem) {
            --container-padding: calc(76 / var(--base-font-size) * 1rem);
        }
    }
}

@theme {
    --breakpoint-bp425px: 26.5625rem;
    --breakpoint-bp1440px: 90rem;
    --breakpoint-bp1920px: 120rem;

    --font-inter: "Inter", sans-serif;
    --font-cormorant-garamond: "Cormorant Garamond", serif;

    --text-11px: calc(11 / var(--base-font-size) * 1rem);
    --text-26px: calc(26 / var(--base-font-size) * 1rem);
    --text-32px: calc(32 / var(--base-font-size) * 1rem);
    --text-42px: calc(42 / var(--base-font-size) * 1rem);
    --text-44px: calc(44 / var(--base-font-size) * 1rem);
    --text-64px: calc(64 / var(--base-font-size) * 1rem);
    --text-82px: calc(82 / var(--base-font-size) * 1rem);
    --text-90px: calc(90 / var(--base-font-size) * 1rem);
    --text-122px: calc(122 / var(--base-font-size) * 1rem);
    --text-150px: calc(150 / var(--base-font-size) * 1rem);
    --text-192px: calc(192 / var(--base-font-size) * 1rem);

    --color-white: rgb(255, 251, 254); /* #FFFBFE */
    --color-black: rgb(12, 18, 12); /* #0C120C */
    --color-light-black: rgba(12, 18, 12, .2); /* #0C120C33 */
    --color-light-gray: rgb(136, 136, 136); /* #888888 */
    --color-opacity-light-gray-40\%: rgba(136, 136, 136, .4); /* #888888 */
    --color-light-red: rgb(212, 4, 28); /* #D4041CFF */
    --color-dark-red: rgba(212, 4, 28, .7); /* #D4041CB3 */
    --color-dark-green: rgb(0, 135, 95); /* #00875FFF */
    --spacing-0\.8em: 0.8em;
    --spacing-0\.9em: 0.9em;
    --spacing-1\.4em: 1.4em;
    --spacing-18px: calc(18 / var(--base-font-size) * 1rem);
    --spacing-19px: calc(19 / var(--base-font-size) * 1rem);
    --spacing-20px: calc(20 / var(--base-font-size) * 1rem);
    --spacing-38px: calc(38 / var(--base-font-size) * 1rem);
    --spacing-43px: calc(43 / var(--base-font-size) * 1rem);
    --spacing-48px: calc(48 / var(--base-font-size) * 1rem);
    --spacing-50px: calc(50 / var(--base-font-size) * 1rem);
    --spacing-52px: calc(52 / var(--base-font-size) * 1rem);
    --spacing-58px: calc(58 / var(--base-font-size) * 1rem);
    --spacing-70px: calc(70 / var(--base-font-size) * 1rem);
    --spacing-72px: calc(72 / var(--base-font-size) * 1rem);
    --spacing-92px: calc(92 / var(--base-font-size) * 1rem);
    --spacing-110px: calc(110 / var(--base-font-size) * 1rem);
    --spacing-117px: calc(117 / var(--base-font-size) * 1rem);
    --spacing-121px: calc(121 / var(--base-font-size) * 1rem);
    --spacing-133px: calc(133 / var(--base-font-size) * 1rem);
    --spacing-496px: calc(496 / var(--base-font-size) * 1rem);
    --spacing-500px: calc(500 / var(--base-font-size) * 1rem);

    --tracking-0\.02em: 0.02em;
    --tracking-0\.028em: 0.028em;
    --tracking-0\.04em: 0.04em;
    --tracking-0\.05em: 0.05em;
}

@layer components {
    .wrapper {
        @apply flex flex-col min-h-full;
    }

    .main {
        @apply shrink grow basis-auto;
    }
}

@layer utilities {
    .container {
        max-width: calc(var(--max-viewport-width) / var(--base-font-size) * 1rem); /* 1920px */
        padding-inline: var(--container-padding);
        margin: 0 auto;
    }

    .container .container {
        max-width: none;
        padding-inline: 0;
    }
}

@layer app {
    /* Disable animation if user disable it in his device */
    *, ::after, ::before, ::backdrop, ::file-selector-button {
        @apply motion-reduce:animate-none! motion-reduce:transition-none! motion-reduce:scroll-auto!;
    }

    html,
    body {
        @apply h-full bg-black;
    }

    /* Disabling arrows in Webkit-based browsers (Chrome, Safari, Edge) */
    input[type="number"],
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield; /* Disabling arrows in Firefox */
        margin: 0;
    }

    body {
        @apply font-inter font-normal text-sm lg:text-base 2xl:text-lg leading-1.4em
        tracking-normal lg:tracking-0.02em 2xl:tracking-normal text-white;
    }

    :root::-webkit-scrollbar-thumb {
        @apply lg:border lg:border-light-gray lg:rounded lg:bg-light-gray cursor-pointer;
    }

    :root::-webkit-scrollbar {
        @apply lg:w-1 lg:bg-light-gray cursor-pointer;
    }

    /* 48rem - 768px */
    @media (width >= 48rem) {
        /*noinspection CssUnresolvedCustomProperty*/
        :root {
            scrollbar-color: var(--color-light-gray) var(--color-opacity-light-gray-40\%);
            scrollbar-width: thin;
        }
    }

    h1, h2, h3, h4 {
        @apply font-cormorant-garamond uppercase;
    }

    h1 {
        @apply text-42px md:text-64px lg:text-82px 2xl:text-122px font-semibold -tracking-0.05em leading-0.8em;
    }

    h2 {
        @apply text-32px md:text-44px lg:text-6xl 2xl:text-90px font-normal tracking-normal leading-0.9em;
    }

    h3 {
        @apply text-26px md:text-32px 2xl:text-64px font-normal tracking-0.028em leading-0.9em;
    }

    h4 {
        @apply text-lg md:text-2xl 2xl:text-4xl font-bold tracking-normal leading-none;
    }

    h5, h6 {
        @apply font-inter font-normal tracking-normal leading-1.4em;
    }

    h5 {
        @apply text-xl 2xl:text-32px uppercase;
    }

    h6 {
        @apply text-lg 2xl:text-2xl;
    }

    button {
        @apply font-inter tracking-normal cursor-pointer;
    }

    span {
        @apply text-inherit leading-[inherit] tracking-[inherit];
    }

    [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'],
    [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'],
    [type='week'], [multiple], textarea, select {
        @apply text-inherit leading-[inherit] tracking-[inherit] appearance-none bg-black border-b border-opacity-light-gray-40% p-2 lg:px-4;

        &:focus {
            @apply outline-2 outline-solid outline-offset-2 outline-transparent border-white shadow-white;
        }

        &::placeholder {
            @apply text-sm lg:text-base 2xl:text-lg text-opacity-light-gray-40% font-light tracking-0.04em;
        }
    }

    .text-accent {
        @apply text-11px md:text-sm lg:text-base 2xl:text-lg font-light tracking-0.04em;
    }

    .section {
        @apply py-6 md:py-7 lg:py-52px xl:py-43px;
    }

    .section-title {
        @apply text-32px md:text-44px lg:text-6xl 2xl:text-90px mb-4 lg:mb-8;
    }

    .prod-list__name {
        @apply font-inter text-base leading-1.4em font-normal uppercase tracking-0.04em md:text-lg lg:text-xl 2xl:text-2xl text-ellipsis line-clamp-3;
    }

    .carousel-nav {
        @apply pointer-events-auto inline-flex size-14 items-center justify-center rounded-full border border-white/50
        bg-black/80 text-white transition-colors duration-300 ease-in-out hover:border-white hover:bg-white
        backdrop-blur-xs hover:text-black opacity-80 carousel-disabled:opacity-50;
    }

    .carousel-pagination:not(.product-carousel__pagination) {
        @apply flex items-center justify-center gap-x-2 h-2.5;

        & > * {
            @apply carousel-dot size-1.5 bg-light-gray carousel-active:ease-in-out carousel-active:duration-200;
        }

        & > *.active {
            @apply size-2.5;
        }
    }

    .category-filter__clear-all-btn,
    .category-filter__apply-btn {
        @apply w-1/2;
    }

    .category-filter__choosen-filters-list .custom-icon {
        @apply size-5;
    }

    .category-filter__clear-all-link,
    .category-filter__remove-choosen-filter-link {
        @apply flex items-center gap-x-1 border border-light-gray rounded-2xl bg-transparent hover:bg-white hover:text-black ease-in-out duration-200 px-2 py-1;

        &:hover > .custom-icon {
            @apply bg-black ease-in-out duration-200;
        }
    }

    .category-filter__clear-all-link {
        @apply border-light-red;
    }

    .product-carousel {
        @apply relative;

        &::before {
            content: "";

            background: radial-gradient(
                circle at center,
                rgba(139, 0, 0, 0.95) 0%,
                rgba(90, 0, 0, 0.9) 35%,
                rgba(30, 0, 0, 0.95) 70%,
                rgba(0, 0, 0, 1) 100%
            );

            @apply absolute top-0 left-0 size-full;
        }
    }

    .product .product-carousel .carousel-slide,
    .product .product-carousel .carousel-body > a {
        @apply h-108.5 md:h-165 lg:h-180 2xl:h-190;
    }

    .product .product-carousel .carousel-slide > a,
    .product .product-carousel .carousel-body > a {
        @apply h-full;
    }

    .product-carousel__pagination .carousel-pagination-item {
        @apply border border-transparent transition-colors;

        &.active {
            @apply border-white;
        }
    }

    h1.product-name {
        @apply text-26px md:text-32px 2xl:text-64px leading-0.9em tracking-0.028em;
    }

    .footer-contacts,
    .footer-menu,
    .footer-info {
        @apply flex flex-col gap-4;
    }

    .footer-title {
        @apply text-light-gray lowercase;
    }

    .footer-list {
        @apply flex flex-col gap-2 md:gap-3;
    }

    .footer-link {
        @apply inline-flex uppercase tracking-0.04em transition-colors duration-300 ease-in-out hover:text-light-gray opacity-70;
    }

    .footer-socials {
        @apply flex items-center gap-4;
    }

    .footer-social-link {
        @apply inline-flex items-center justify-center text-white transition-opacity duration-300 ease-in-out hover:opacity-70;
    }

    .footer-social-link > svg {
        @apply size-10 lg:size-12;
    }

    .dark-btn:active,
    .dark-btn:hover {
        @apply text-black border-light-gray bg-light-gray cursor-pointer duration-500 ease-in-out;
    }

    ._error, ._success {
        @apply hidden rounded p-1 mt-1;
    }

    ._error {
        @apply text-light-red;
    }

    ._success {
        @apply text-dark-green;
    }

    .category-filter__total-results._error,
    ._was-validated label:has(:valid) + ._success,
    ._was-validated label:has(:invalid) + ._error,
    ._was-validated .choices:has(:invalid) + ._error,
    ._was-validated :has(:invalid) ~ ._error,
    ._was-validated :invalid ~ ._error,
    ._was-validated :valid ~ ._success {
        @apply inline-block;
    }

    .filter-sort-btns {
        @apply default-btn flex items-center justify-between gap-x-4 w-full text-sm lg:text-base xl:text-lg
        uppercase tracking-0.04em md:border md:border-opacity-light-gray-40% md:hover:border-white md:duration-200 md:ease-in-out
        px-0 pt-0 pb-2 md:px-5 md:py-18px;
    }

    .black-btn,
    .white-btn {
        @apply items-center justify-center text-center border border-light-gray ease-in-out duration-200 p-2;
    }

    .black-btn:not(.category-filter__clear-all-btn),
    .white-btn:not(.category-filter__apply-btn) {
        @apply flex;
    }

    .black-btn {
        @apply hover:text-black bg-transparent hover:bg-white;
    }

    .white-btn {
        @apply text-black hover:text-white uppercase bg-white hover:bg-black;
    }

    .icon-park--setting-config {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23fffbfe' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M41.5 10H35.5'/%3E%3Cpath d='M27.5 6V14'/%3E%3Cpath d='M27.5 10L5.5 10'/%3E%3Cpath d='M13.5 24H5.5'/%3E%3Cpath d='M21.5 20V28'/%3E%3Cpath d='M43.5 24H21.5'/%3E%3Cpath d='M41.5 38H35.5'/%3E%3Cpath d='M27.5 34V42'/%3E%3Cpath d='M27.5 38H5.5'/%3E%3C/g%3E%3C/svg%3E");
    }

    /*.custom-icon {
        @apply size-6 md:size-8 text-white;
    }*/
}

.drawer-body {
    @apply 2xl:text-lg;
}

.noUi-target {
    @apply h-0.5 bg-light-gray rounded-none;
}

.noUi-horizontal .noUi-handle {
    @apply size-2 bg-white rounded-full cursor-pointer before:hidden after:hidden;
}

.noUi-target,
.noUi-horizontal .noUi-handle {
    @apply border-0 border-none shadow-none;
}

.noUi-horizontal .noUi-handle {
    @apply -top-0.5 -right-1;
}

@utility default-btn {
    @apply font-inter font-normal tracking-normal leading-1.4em text-lg lg:text-2xl;
}

@utility custom-icon {
    @apply size-6 md:size-8 text-white;
}

@utility modal-shadow {
    box-shadow: 0.0625rem 0.0625rem 0.25rem 0 rgba(255, 255, 255, 0.20) inset,
    -0.0625rem -0.25rem 1.5625rem 0 rgba(255, 255, 255, 0.40) inset,
    0.0625rem 0.0625rem 0.25rem 0 rgba(255, 255, 255, 0.20) inset;
}
