includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules
        - routes
        - config
        - database
        - tests
    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
            path: Modules/*/config/*.php
