includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules
        - routes
        - config
        - database
        - tests
    level: 5
    treatPhpDocTypesAsCertain: false
