includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules
        - routes
        - config
    excludePaths:
        analyse:
            - database
            - tests
            - Modules/*/tests/**
            - app/Filament/**
            - app/Providers/Filament/**
            - Modules/*/app/Filament/**
            - Modules/*/app/Services/Filament/**
            - Modules/*/app/Livewire/**
    level: 10
    treatPhpDocTypesAsCertain: true
    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
            path: Modules/*/config/*.php
        -
            message: '#PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.UnusedFormalParameter\)\):.*#'
            path: app/Models/Users/User.php
